[submodule "mspring-eureka-server"]
	path = mspring-eureka-server
	url = git@github.com:IsJordanBraz/mspring-eureka-server.git
[submodule "mspring-clients"]
	path = mspring-clients
	url = git@github.com:IsJordanBraz/mspring-clients.git
